<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Mr.Swift</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="vendor/materialize/dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/module/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="css/module/main.css">
</head>
<body>

<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Mr.Swift</a>
      <ul class="right hide-on-med-and-down">
        <li class="page-scroll">
          <a href="#service" >O que fazemos!</a>
        </li>
        <li class="page-scroll">
          <a href="#about" >Quem somos</a>
        </li>   
        <li class="page-scroll">
          <a href="#contact" >Contato</a>
        </li>          
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li class="page-scroll">
          <a href="#service" >O que fazemos!</a>
        </li>
        <li class="page-scroll">
          <a href="#about" >Quem somos</a>
        </li>   
        <li class="page-scroll">
          <a href="#contact" >Contato</a>
        </li>  
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>