@import url("http://fonts.googleapis.com/css?family=Raleway");
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #faf9f9;
}
a {
  text-decoration: none;
  color: inherit;
}
.topo {
  cursor: pointer;
  position: fixed;
  bottom: 3.5em;
  right: 3.5em;
  display: none;
  z-index: 50;
  background-color: #c26262;
  border-color: #fff;
  border-witdh: 2px;
  border-witdh: medium;
  border-style: solid;
  border-radius: 3px;
  color: #fff;
  padding: 1em 2rem;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.input-field label {
  color: #000;
}
.input-field input[type=text]:focus + label {
  color: #000;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
.input-field .prefix.active {
  color: #000;
}
*,
*::after,
*::before {
  -moz-box-sizing: boder-box;
  box-sizing: border-box;
}
.social-list {
  text-align: center;
  font-size: 0;
  margin: 5px auto;
}
.social-list li {
  display: inline-block;
  margin-right: 1%;
  width: 60px;
  height: 60px;
  position: relative;
}
.social-list li > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
}
.social-list li>a>svg {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  fill: #000;
  -webkit-trasition: 0.15s;
  trasition: 0.15s;
}
.social-list li>a:hover>svg {
  fill: rgba(85,85,85,0.333);
}
.social-list li>a>span {
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  position: absolute;
  top: 125%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: #fff;
  padding: 10px 25px;
  text-align: center;
  visibility: hidden;
  z-index: 1;
}

figure {
  margin: auto; }

.content article {
  padding: 100px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center; }

img {
  max-width: 100%; }

.banner-box-1 {
  background-image: url('/images/background1.jpg');
  width: 100%;
  padding: 40px 0 40px 0;
  height: 450px;
  color:#fff;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
   -webkit-transition: 0.7s;
  -mz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s; }

.banner-box-2 {
  background-image: url('/images/background2.jpg');
  width: 100%;
  padding: 40px 0 40px 0;
  height: 450px;
  color:#fff;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
   -webkit-transition: 0.7s;
  -mz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s; }

.banner-box-3 {
  background-image: url('/images/background3.jpg');
  width: 100%;
  padding: 40px 0 40px 0;
  height: 450px;
  color:#fff;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
   -webkit-transition: 0.7s;
  -mz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s; }

.shape-transparent {
  display: block;
  position: absolute;  
  top: 1.7rem;
  color: #fff;
  width: 75%;
  height: 50%;  
  float: left;
  background: #000 transparent;
  background: rgba(0,0,0,0.7);
  position: relative;
}


.shape-left{
  left: 25%;
}

