extends layout

block vars
  - var title = 'Login'

block body
  h1 Log Into Your Account

  if error
    p #{error}

  form(method="post")
    input(type="hidden", name="_csrf", value=csrfToken)

    span Email:
    input(type="email", name="email", required=true, placeholder="digite seu email", id="email")
    br
    br
    span Password:
    input(type="password", name="password", required=true, placeholder="digite sua senha", id="password")
    br

    input(type="submit" value="login" name="login")
    br
    br
    <a href="/register">Register</a>
