<%include ../includes/head%>
<div class="container">

  <div class="card">
    <form class="" action="index.html" method="post">
      <div class="row">
        <div class="input-field col s3"></div>
        <div class="input-field col s6">
          <span class="card-title">
            <h4 class="header center red-text text-lighten-2">Login</h4>
          </span>
        </div>
        <div class="input-field col s3"></div>

      </div>
      <div class="row">
        <div class="input-field col s3"></div>
        <div class="input-field col s6">
          <input placeholder="Email..." id="email" name="email" type="text" class="validate" required>
          <label for="email">Email:</label>
        </div>
        <div class="input-field col s3"></div>
      </div>
      <div class="row">
        <div class="input-field col s3"></div>
          <div class="input-field col s6">
            <input placeholder="Senha..." id="password" name="password" type="password" class="validate" required>
            <label for="email">Senha:</label>
          </div>
        <div class="input-field col s3"></div>
      </div>
      <div class="row">
        <div class="input-field col s3"></div>
        <div class="input-field col s6">
          <a class="btn waves-effect waves-light red btn-large"><i class="material-icons right">done</i>Login</a>
        </div>
        <div class="input-field col s3"></div>
      </div>

    </form>
    <%include ../includes/scripts%>
  </div>
