<div id="contact" class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send red-text"></i></h3>
          <h4>Contato</h4>
          <hr>
           <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Nome..." id="nome" type="text" class="validate">
              <label for="nome">Nome:</label>
            </div>
            <div class="input-field col s6">
              <input placeholder="Email..." id="email" type="text" class="validate">
              <label for="email">Email:</label>
            </div>
          </div>
          <div class="row">
             <div class="input-field col s12">
                <!--<textarea id="textarea1" class="materialize-textarea" type="text" length="120"></textarea>-->
                 <input id="textarea1" placeholder="Assunto..." id="email" type="text" class="validate" length="120">
                <label for="textarea1">Assunto:</label>
              </div>
          </div>
          <div class="row">
            <button class="btn waves-effect waves-light red lighten-3" type="submit" name="action">Enviar
           <i class="material-icons right">send</i>
          </button>
          </div>
        </form>
      </div>
        </div>
      </div>

    </div>
  </div>