
  <%include ../includes/navbar%>
  <%include banner%>
  <%include work%>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 black-text light">Elaborando ideias para projetos únicos</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  
 <%include about%>
 


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 black-text light">Mais que projetos, criamos experiencias únicas para seus clientes</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <%include contact%>  


  <%include ../includes/footer%>  
