<div class="container">
	<div class="row">
		<div class="divider"></div>
	  <div class="section">
	    <a href="#/articles">
			<h3 class="center red-text text-lighten-2">Mr.Swift - Blog</h3>
		</a>

		<div>
			<p><h3>{{article.title}}</h3></p>
			<p class="right"> {{article.text}}</p>

		</div>
	  </div>
	  <div class="divider"></div>
	  <div class="section">
	   <p class="left">{{article.author}}</p>
	  </div>
	  <div class="divider"></div>


	</div>


</div>


<!--

<div class="container">
	<a href="#/articles">
		<h3 class="center red-text text-lighten-2">Mr.Swift - Blog</h3>
	</a>

	<div>
		<p><h3>{{article.title}}</h3></p>
		<p class="right"> {{article.text}}</p>
		<p class="left">{{article.author}}</p>
	</div>


</div>
-->
