<!DOCTYPE html>
<html ng-app="mrswift">
<head>

<!--build:css css/index.min.css-->
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
<title>Mr.Swift</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="vendor/materialize/dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/main.css">
<link rel="icon" type="image/png" href="images/favicon.png">

<!--endbuild-->
</head>
<body>
<%include includes/navbar%>
    <ng-view></ng-view>

<%include includes/footer%>



<!--build:js js/index.min.js-->
<script src="vendor/angular/angular.min.js"></script>
<script src="vendor/angular-route/angular-route.min.js"></script>
<script src="vendor/angular-resource/angular-resource.min.js"></script>
<script src="js/main.js"></script>
<script src="js/services/articleServices.js"></script>
<script src="js/services/homeServices.js"></script>
<script src="js/controllers/homeController.js"></script>
<script src="js/controllers/articlesController.js"></script>
<script src="js/controllers/articleController.js"></script>
<script src="js/directives/components.js">

</script>
<!--endbuild-->



      <script src="vendor/jquery/dist/jquery.min.js"></script>
      <script src="js/lib/upbutton.js"></script>
      <script src="js/lib/scroll.js"></script>
      <script src="vendor/materialize/dist/js/materialize.min.js"></script>
      <script src="js/lib/init.js"></script>

    </body>
</html>
